*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
    box-sizing: border-box;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html {
    overflow-x: hidden;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999999;
}
html.js .loader_inner {
	background-image: url("../img/circle.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Golos", sans-serif;
	overflow-x: hidden;
}

/* полоса прокрутки (скроллбар) */
body::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #d5d5d5;
}

/* ползунок скроллбара */
body::-webkit-scrollbar-thumb {
    background-color: #0da7e2;
    border-radius: 10px;
    box-shadow: none;
}

a,
a:hover,
a:focus,
a:active {
	transition: all .5s ease;
	text-decoration: none;
}

.hidden {
	display: none;
}

/* Main styles */

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 18px 120px;
    z-index: 999;
    background: #fff;
    transition: all .5s linear;
}

.header_hidden {
    transform: translateY(-100%);
}

.header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url(../img/logo.svg) no-repeat center center;
    width: 183px;
    height: 39px;
}

nav.top__nav {
    display: flex;
    width: 100%;
    max-width: 460px;
}

.top__ul {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.top__li {
    list-style: none;
    /* position: relative; */
}

.top__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
    transition: all .5s ease;
    text-decoration: none;
}

.top__link:hover {
    text-decoration: none;
    color: #0DA7E2;
}

.nav__arrow {
    width: 8px;
    height: 8px;
    margin-left: 4px;
    background: url(../img/nav__arrow.svg) no-repeat center center;
    transition: all .5s ease;
}

.top__link:hover > .nav__arrow {
    background: url(../img/nav__arrow__color.svg) no-repeat center center !important;
}

.top__link.active .nav__arrow {
    background: url(../img/nav__arrow__color.svg) no-repeat center center;
}

.top__link.active {
    color: #0DA7E2;
}

.small__download__btn {
	position: relative;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 12px 32px;
	z-index: 1;
	transition: all .5s ease;
	background: linear-gradient(85.88deg, #7B33F5 13.42%, #39ABFE 86.99%);
	border: none;
	cursor: pointer;
}

.small__download__btn:hover,
.small__download__btn:focus,
.small__download__btn:active {
	color: #fff;
	box-shadow: 1px 1px 10px #0000004d;
}

.small__download__btn::after,
.small__download__btn::before  {
	position: absolute;
	content: '';
	border-radius: 30px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: all 0.5s linear;
	opacity: 1;
}

.small__download__btn::after {
	background: linear-gradient(85.88deg, #39ABFE 13.42%, #7B33F5 86.99%);
}

  
.small__download__btn::before {
	background: linear-gradient(85.88deg, #7B33F5 13.42%, #39ABFE 86.99%);
}
  
.small__download__btn:hover::before {
	opacity: 1;
}

.small__download__btn:hover::after {
	opacity: 0;
}

.top__screen {
    display: flex;
    justify-content: center;
    padding: 194px 0 116px 0;
    width: 100%;
    background: url(../img/ts__bg.png) no-repeat center bottom;
}

.ts__wrapper {
    display: flex;
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.ts__left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.ts__item__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;

/* Color/Black */
    color: #000000;
    margin: 0;
    max-width: 640px;
}

.ts__item__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 17px 0 0 0;
    max-width: 640px;
}

span.tsr__span {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #757685;
    margin-left: 13px;
}

.ts__rating {
    display: flex;
    margin-bottom: 70px;
}

.tsr__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tsr__item:nth-child(2) {
	margin: 0 50px;
}

.download__btn {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    padding: 8px 36px 15px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 431px;
	height: 90px;
    text-decoration: none !important;
	z-index: 1;
	position: relative;
}

.download__btn::after,
.download__btn::before {
	width: 431px;
	height: 90px;
	position: absolute;
	content: '';
	border-radius: 32px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: all 0.5s linear;
	opacity: 1;
}

.download__btn::after {
	background: linear-gradient(225deg, #FF8B4A 0%, #DD0050 100%);
}

  
.download__btn::before {
	background: linear-gradient(225deg, #DD0050 0%, #FF8B4A 100%);
}
  
.download__btn:hover::before {
	opacity: 1;
}

.download__btn:hover::after {
	opacity: 0;
}

.download__btn:hover {
	box-shadow: 1px 1px 10px #0000004d;
}

.download__btn span {
	transition: all .5s ease;
}

.tsd__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    display: flex;
}

.tsd__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
}

.ts__right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: relative;
}

img.person {
    position: absolute;
    z-index: 1;
}

img.person.ts__1 {
	top: -60px;
	right: 0;
}

img.person.ts__2 {
	top: -60px;
	right: 0;
}

img.person.ts__3 {
	top: -60px;
	right: 0;
}

img.person.ts__4 {
	top: -60px;
	right: 0;
}

.slick-list {
    overflow: visible;
}

.ts__right__phone {
    z-index: 1;
}

.slick-dots {
    display: flex !important;
    padding: 0;
    margin: 50px 0 40px 0;
}

.slick-dots li {
    list-style: none;
    margin-right: 5px;
}

.slick-dots li button {
    background: transparent;
    border: none;
    border-radius: 50%;
    color: rgba(0,0,0,0);
    opacity: 0.5;
    border: 1px solid #000000;
    width: 10px;
    height: 10px;
    padding: 0;
}

.slick-dots li.slick-active button {
    background: #000000;
    opacity: 1;
}

.section__title {
    margin: 0 0 70px 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 116%;
/* identical to box height, or 107% */
    display: flex;
    align-items: center;
    text-align: center;

/* Color/Black */
    color: #000000;
}

.benefits {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.benefits__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1044px;
    width: 100%;
    align-items: center;
    position: relative;
}

.benefits__static {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.benefits__sitem {
    display: flex !important;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 116px;
}

.bsi__title {
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
/* or 121% */
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 24px;
}

.bsi__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
/* or 129% */
    display: flex;
    align-items: center;
    color: #000000;
}

.bsi__info {
    max-width: 560px;
}

.benefits__slider {
    width: 100%;
    position: relative;
}

.benefits__sitem.bslider__item {
    margin-bottom: 0;
}

.bsc__arrow {
    border: 1px solid #0DA7E2;
    border-radius: 12px;
    /* padding: 6px 8px; */
    cursor: pointer;
    transition: all .5s ease;
}

.bs__controls__arrows {
    display: flex;
}

.bsc__arrow.prev {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: url(../img/bs__left.svg) no-repeat center;
}

.bsc__arrow.prev:hover {
	color: #fff;
	background: url(../img/bs__left__light.svg) no-repeat center;
	background-color: #0DA7E2;
	box-shadow: 1px 1px 10px #0000004d;
}

.bsc__arrow.next {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
/* identical to box height, or 219% */
    display: flex;
    align-items: center;
    color: #0DA7E2;
    padding: 0 40px 0 11px;
    background: url(../img/bs__right.svg) no-repeat 90% center;
    /* background-size: 100%; */
}

.bsc__arrow.next:hover {
	color: #fff;
	background: url(../img/bs__right__light.svg) no-repeat 90% center;
	background-color: #0DA7E2;
	box-shadow: 1px 1px 10px #0000004d;
}

.bsc__arrow.next img.arrow {
    transform: rotate(180deg);
    margin-left: 7px;
}


/* Circle slider */

.bs__controls__circle {
	position: relative;
	max-width: 60px;
	margin-bottom: 20px;
}

.circle__border {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #0DA7E2;
	transition: all .5s ease;
}

.circle__white {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-color: #fff;
	font-weight: 400;
	font-size: 15.5849px;
	line-height: 33px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	justify-content: center;
	transition: all .5s ease;
}
  
.circle__border {
	background-image: linear-gradient(225deg, transparent 50%, #F1F1F1 50%), linear-gradient(90deg, #F1F1F1 50%, transparent 50%);
}

.benefits__slider .slick-dots {
    display: none !important;
}

.bslider__controls {
    position: absolute;
    bottom: 70px;
}

.benefits__slider .bsi__info {
    margin-bottom: 120px;
}

.app {
    display: flex;
    justify-content: center;
    background: url(../img/app__bg.png) no-repeat center -0px;
    padding-top: 148px;
}

.app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__items {
    display: flex;
    margin-bottom: 40px;
}

.app__item {
    display: flex;
    width: 360px;
    height: 375px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-weight: 600;
    font-size: 26px;
    line-height: 125%;
/* or 32px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
    align-items: flex-start;
    padding-top: 28px;
}

.app__item.step__1 {
    background: url(../img/app__1.png) no-repeat center bottom;
    background-color: #fff;
}

.app__item.step__2 {
    background: url(../img/app__2.png) no-repeat center bottom;
    background-color: #fff;
    margin: 0 30px;
}

.app__item.step__3 {
    background: url(../img/app__3.png) no-repeat center bottom;
    background-color: #fff;
}

.app .section__title {
    margin-bottom: 40px;
}

.rating {
    margin-top: 148px;
    display: flex;
    justify-content: center;
}

.rating__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
/* or 156% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    max-width: 680px;
}

.rating__items__wrapper {
    display: flex;
}

.rating__items {
    margin: 32px 0;
}

.rating__items img:nth-child(2) {
    margin: 0 30px;
}

.rating .section__title {
    margin-bottom: 40px;
}

.more {
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    border-bottom: 1px solid #000;
	transition: all .5s ease;
}

.more:hover,
.more:focus,
.more:active {
	color: #000000;
    border-bottom: 1px solid #00000047;
}

.faq {
    display: flex;
    justify-content: center;
    margin-top: 148px;
}

.faq__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
}

.faq .section__title {
    margin-bottom: 40px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .5s ease;
}

.faq__header {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 28px 0;
    background: none;
    border-top: 1px solid #eee;
    width: 100%;
    transition: all .5s ease;
    justify-content: space-between;
}

.plus__faq {
	transition: all .5s ease;
	/* width: 27px; */
	/* height: 27px; */
	overflow: hidden;
	border-radius: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
}

.faq__body {
    height: 0px;
    display: none;
    transition: all .5s ease;
    width: 100%;
	opacity: 0;
}

.faq__body.active__toggle {
	display: block;
    height: auto;
    transition: all .5s ease;
    width: 100%;
	opacity: 1;
	padding-bottom: 30px;
}

.faq__item {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s ease;
}

.faq__item:nth-child(5),
.faq__item:nth-child(6),
.faq__item:nth-child(7) {
    display: none;
}

.faq .more {
    margin-top: 55px;
}

.faqh__value {
	transition: all .5s ease;
}

.faq__item:hover > .faq__header .faqh__value {
	color: #0DA7E2;
}

.faq__item:hover > .faq__header .plus__faq {
	background: #e2e2e2;
}

footer.footer {
	background: #080808;
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.footer__wrapper {
	max-width: 1140px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;
}

.footer__top.main {
    padding-bottom: 110px;
}

.footer__logo {
    width: 169px;
    height: 36px;
    background: url(../img/logo__white.svg) no-repeat center center;
    display: flex;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
/* identical to box height, or 156% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer__link:hover {
    color: #0DA7E2
}

.footer__link:active,
.footer__link:focus {
    color: #0DA7E2;
}

.footer__nav li {
    list-style: none;
    margin-right: 50px;
    margin-bottom: 6px;
}

ul {
    display: flex;
}

.footer__nav li:last-child {
    margin-right: 0;
}

.apple {
    margin-left: 8px;
}

.apple:nth-child(1) {
    margin-left: 0px;
}

.soc {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

span.soc__text {
    margin-left: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 180px;
}

a.soc__link {
    margin-right: 25px;
}

.footer__nav ul {
    padding: 0;
}

.footer__submenu {
    position: absolute;
    display: flex;
    max-width: 180px;
    margin-top: 9px;
	display: none;
	opacity: 0;
	transition: all .5s ease;
}

.footer__submenu ul {
    display: flex;
    flex-direction: column;
}

.sub__main {
	background: url(../img/arrow__open.svg) no-repeat 100% center;
	padding-right: 16px;
	transition: all .5s ease;
}

.sub__main:hover,
.sub__main.active {
	background: url(../img/nav__arrow__color.svg) no-repeat 100% center;
}

a.f__sublink {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
/* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: all .5s ease;
}

a.f__sublink:hover {
    color: #0DA7E2;
}

.vk {
    background: url(../img/vk.svg) no-repeat left center;
    padding: 10px 0 10px 46px;
    display: flex;
    align-items: center;
    background-size: auto;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
/* identical to box height, or 157% */
    display: flex;
    align-items: center;
}

.vk:hover {
    color: #fff;
}

.ft__right {
    display: flex;
}

.sk {
    width: 140px;
    height: 41px;
    background: url(../img/skolkovo.svg) no-repeat center center;
    margin-left: 90px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft__left {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    width: 50%;
}

.copyrights {
    /* margin-right: 84px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
/* or 157% */
    /* display: flex; */
    /* align-items: center; */
    color: #FFFFFF;
    width: 100%;
}

.politics {
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration-line: underline;
    text-decoration: none;
    margin-bottom: 23px;
    width: 100%;
}

a.politics {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
/* or 157% */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: right; */
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    /* width: 133%; */
    /* flex: 1; */
}

a.politics__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
/* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: right;
    /* text-decoration-line: underline; */
    color: #FFFFFF;
    margin-right: 61px;
    border-bottom: 1px solid #fff;
    transition: all .5s ease;
    /* padding-bottom: 0px; */
}

a.politics__link:last-child {
    margin-right: 0;
}


a.politics__link:hover {
    color: #0DA7E2;
    border-bottom: 1px solid #0DA7E2;
}

/* qr modal */

.qr__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    opacity: 0;
    transition: all .5s ease;
}

.qr__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: .4;
    z-index: 1;
}

.qr__wrapper {
    z-index: 2;
    /* background: #fff; */
    background: #FFFFFF;
/* S2 */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 58px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 870px;
    position: relative;
}

.qr__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 125%;
/* or 32px */
    display: flex;
    align-items: center;
    color: #000000;
    max-width: 377px;
    margin-bottom: 37px;
}

.qr__info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 270px; */
    height: 100%;
}

.qr__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
/* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 0 8px 0;
}

.qr__markets a:nth-child(2) {
	margin: 0 10px;
}

.qr__markets {
    display: flex;
}

.qr__close {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/close.svg) no-repeat center center;
    top: 23px;
    right: 23px;
    cursor: pointer;
    transition: all .5s ease;
}

.qr__close:hover {
    transform: rotate(180deg)
}

.submenu {
    position: absolute;
    display: none;
    background: #FFFFFF;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1), -4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    padding: 28px 24px 18px 24px;
    top: 79px;
    z-index: 9;
    margin-left: -24px;
	opacity: 0;
	transition: all .5s ease;
}

.top__link.active > .submenu {
	display: flex;
	opacity: 1;
}

ul.sub__menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sub__menu li {
    list-style: none;
}

a.sub__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
/* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
    transition: all .5s ease;
    text-decoration: none;
    /* border-bottom: 1px solid; */
}

a.sub__link:hover {
    text-decoration: underline;
}

.full__overlay {
	width: 100vw;
	height: 100vh;
	background: #000;
	opacity: 0;
	position: fixed;
	display: none;
	transition: all .5s ease;
	z-index: 9;
}

.mobile__nav {
    display: none;
}

.burger__control {
    display: none;
}

/* home company page */

section.top__slider {
    background: #1E1E1E;
}

header.header.black {
    background: #1e1e1e;
    z-index: 9999;
}

header.header.black .top__link {
    color: #fff;
}

header.header.black .top__link:hover {
    text-decoration: none;
    color: #0DA7E2;
}

header.header.black a.logo {
    background: url(../img/logo__white.svg) no-repeat center center;
    width: 179px;
}

header.header.black .nav__arrow {
	background: url(../img/nav__arrow__white.svg) no-repeat center center;
}

header.header.black .top__link:hover > header.header.black .nav__arrow:hover { 
    background: url(../img/nav__arrow__color.svg) no-repeat center center;
}

header.header.black .top__link.active > header.header.black .nav__arrow {
    background: url(../img/nav__arrow__color.svg) no-repeat center center;
}

section.top__slider {
    color: #fff;
    padding-top: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Golos';
    font-weight: 600;
    background: url(../img/ts__bg.png) no-repeat center 50px;
    background-color: #1E1E1E;
    position: relative;
}

.slide__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    max-width: 965px;
}

.slide__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 630px;
    text-align: center;
    margin-top: 22px;
}

.slider__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
}

.top__slider .slider__btn.small__download__btn {
    /* font-weight: 600; */
    /* font-size: 28px; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    cursor: pointer;
    position: absolute;
    top: 288px;
    /* margin-top: 28px; */
}

.top__slider .slider__btn.small__download__btn .tsd__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.top__slider .slider__btn.small__download__btn .tsd__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.top__slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1140px;
    overflow: hidden;
}

.top__slider .slider__btn.small__download__btn::before, .top__slider .slider__btn.small__download__btn::after {
    border-radius: 65px;
}

section.benefits.different {
    background: url(../img/app__bg.png) no-repeat center bottom;
    padding-bottom: 540px;
    z-index: 9;
    position: relative;
}

section.benefits.different .benefits__wrapper {
    max-width: 1150px;
}

section.help {
    background: #1E1E1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.help__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
}

section.help .section__title {
    color: #fff;
    margin-bottom: 49px;
}

.h_item__icon {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    margin: 35px 0;
}

.h__item__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 12px;
}

.h__item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
/* or 23px */
    display: flex;
    align-items: center;

/* Color/text */
    color: #DCDCDC;
}

.help__item {
    border-top: 1px solid #fff;
    max-width: 360px;
}

.help__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sliders__video__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1140px;
    position: relative;
}

.slide__video iframe {
    width: 878px;
    height: 570px;
    margin-top: 10px;
}

.slide__video {
    background: url(../img/screen__bg.png) center center no-repeat;
    /* padding: 35px 60px 45px 20px; */
    display: flex;
    justify-content: center;
    width: 950px;
    height: 655px;
    align-items: center;
    margin-top: 190px;
}

.bsi__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* width: 100%; */
}

.benefits.different .bsi__info {
    position: relative;
    max-width: 470px;
    width: 100%;
}

.benefits.different .bsi__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    display: flex;
    flex-direction: column;
}

.benefits.different .section__title {
    margin-bottom: 190px;
}

.benefits.different .benefits__sitem {
    margin-bottom: 95px;
    position: relative;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.benefits.different .benefits__static .benefits__sitem {
    align-items: center;
}

.benefits.different .bsi__img {
    position: absolute;
    right: -100px;
}

.benefits__sitem.second .bsi__img {
    right: -165px;
}

.benefits.different .benefits__static .benefits__sitem:nth-child(1) {
    margin-bottom: 300px;
}

.benefits.different .benefits__static .benefits__sitem:nth-child(2) {
    margin-bottom: 216px;
}

.benefits__slider__different {
    max-width: 1150px;
    position: relative;
    max-height: 575px;
    /* overflow: hidden; */
}

.benefits__slider__different .bsi__img {
    max-width: 765px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.benefits.different .benefits__sitem.bslider__item {
    margin-bottom: 0;
}

.benefits.different .benefits__sitem.bslider__item {
    margin-bottom: 0;
}

.benefits.different .bslider__controls {
    top: 380px;
}

section.scheme {
    background: #1E1E1E;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -160px;
    padding-top: 275px;
}

.scheme__wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.scheme .section__title {
    color: #fff;
}

.scheme__items {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 22px;
    background: url(../img/arrows.svg) no-repeat 205px 20px;
    background-size: auto;
    align-items: flex-start;
}

.scheme__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.scheme__item:nth-child(1) {
    max-width: 203px;
    margin-right: 74px;
    /* width: 100%; */
}

.scheme__item:nth-child(2) {
    max-width: 223px;
    margin-right: 83px;
}

.scheme__item:nth-child(3) {
    max-width: 238px;
    margin-right: 137px;
}

.scheme__item:nth-child(4) {
    max-width: 182px;
}

.scheme__item__text {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.scheme__item:nth-child(1) .scheme__item__text {
    margin-top: 16px;
}

.scheme__item:nth-child(2) .scheme__item__text {
    margin-top: 19px;
}

.scheme__item:nth-child(3) .scheme__item__text {
    margin-top: 17px;
}

.scheme__item:nth-child(4) .scheme__item__text {
    margin-top: 12px;
}

.scheme__lines__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 19px 0 80px 0;
}

.scheme__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 683px;
    margin-bottom: 35px;
}

.scheme__btn.small__download__btn.modal__form__btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 12px 27px;
    cursor: pointer;
}

section.results {
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 164px;
    padding-bottom: 90px;
    background: url(../img/results__bg.svg) no-repeat 220px 112px;
    background-color: #1E1E1E;
}

.results__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    /* background: url(../img/results__bg.svg) no-repeat -102px 0; */
    /* padding-bottom: 90px; */
}

section.results .section__title {
    color: #fff;
}

.results__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background: url(../img/results__bg.svg) no-repeat left center; */
    align-items: center;
}

.results__item img {
    border-radius: 23px;
    overflow: hidden;
    width: 100%;
    max-width: 555px;
}

.result__info {
    max-width: 460px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result__info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.result__info__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
/* or 155% */
    display: flex;
    align-items: center;

/* Color/text */
    color: #DCDCDC;
    margin: 14px 0 32px 0;
}

.result__info__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    cursor: pointer;
    transition: all .5s ease;
    padding-bottom: 2px;
    border-bottom: 1px solid #FFFFFF;
}

.result__info__link:hover {
    color: #0DA7E2;
    border-bottom: 1px solid #0DA7E2;
}

.slider__items {
    max-width: 1140px;
    /* display: flex; */
}

.top__slider .slick-dots {
    justify-content: center;
    position: absolute;
    top: 400px;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex !important;
    width: 100%;
    z-index: 9;
}

.top__slider .slick-dots li button {
    border: 1px solid #fff;
}

.top__slider li.slick-active button {
    background: #fff;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.footer__info {
    margin-top: 34px;
}

.footer__info__link {
    display: flex;
    margin-bottom: 9px;
}

.fil__img {
    background: #fff;
    /* padding: 8px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info__link span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #fff;
    margin-left: 13px;
}

.footer__item li {
    list-style: none;
    margin-bottom: 8px;
}

.footer__item ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.footer__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer.different .ft__left {
    width: auto;
}

.footer.different .copyrights {
    width: auto;
    margin-right: 69px;
}

.consult__modal,
.consult__modal__self,
.lead__modal {
    position: fixed;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .5s ease;
}

.consult__modal__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999999;
    width: 555px;
    height: 475px;
    background: #FFFFFF;
/* S2 */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 45px 68px;
    /* align-items: center; */
    /* justify-content: center; */
}

h3.consult__title {
    font-weight: 600;
    font-size: 23px;
    line-height: 123%;
/* or 28px */
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 20px 0;
}

.form__input {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
    border-radius: 6px;
    outline: 0;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656565;
    padding: 14px 0 14px 18px;
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    transition: all .5s ease;
}

.form__input:focus {
	border: 1px solid;
}


.politics label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */


/* Color/Black */
    color: #000000;
    cursor: pointer;
    /* margin-left: 8px; */
    /* margin-bottom: 23px; */
}

a.politic__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: underline;
    display: inline;
}

a.politic__link:hover {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: underline;
    border-bottom: none !important;
}

.politics.modal,
.politics.modal:hover {
    border: none;
    margin-right: 0;
}

input.form__submit.small__download__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
/* identical to box height, or 16px */
    text-align: center;
    letter-spacing: -0.01em;
    background: linear-gradient(90deg, #6F30E9 0%, #3494EC 100%);
    border-radius: 500px;
    padding: 13px 45px;
}

form#modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: block;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 2px;
    /* margin-top: 0px; */
}

.custom-checkbox:checked+label::before {
    border-color: #000000;
    background-color: #ffffff;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: 1px center;
    /* background-size: 7px; */
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #8b8b8b;
}
  /* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
  /* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: none;
}
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #000000;
}
  /* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.result__modal {
    position: fixed;
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .5s ease;
}

.result__modal__wrapper {
    background: #FFFFFF;
/* S2 */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #fff;
    z-index: 9999;
    width: 870px;
    height: 900px;
    padding: 57px 46px;
    position: relative;
}

h3.result__title {
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    margin: 30px 0 20px;
}

.result__modal p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 12px 0;
}

.result__text {
    max-height: 390px;
    overflow-y: scroll;
}

.faq__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.faq__images img {
    width: 20%;
}

.ts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 260px;
}

header.header.black .submenu {
    background: #1e1e1e;
}

header.header.black a.sub__link {
    color: #fff;
}

/* TELECOM COMPANY */

.benefits__slider__different .slick-dots {
    display: none !important;
}

section.benefits.different {
    margin-top: 127px;
}

.benefits.different .bsi__text ul {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.small__text {
    font-size: 35px;
    font-weight: 700;
}

.result__modal ul {
    display: flex !important;
    flex-direction: column;
}

.result__text {
    padding-right: 10px;
}

/* полоса прокрутки (скроллбар) */
.result__text::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: #d5d5d5;
}

/* ползунок скроллбара */
.result__text::-webkit-scrollbar-thumb {
    background-color: #0da7e2;
    border-radius: 10px;
    box-shadow: none;
}

/* CONTROL */

.help__item.control {
    padding-top: 20px;
}

.benefits.control .benefits__static .benefits__sitem:nth-child(1) {
    margin-bottom: 305px;
}

.benefits.control .benefits__static .benefits__sitem:nth-child(2) {
    margin-bottom: 296px;
}

.benefits.control .benefits__sitem {
    align-items: center;
}

.benefits.control .bslider__controls {
    top: 352px;
}

section.benefits.different.control {
    padding-bottom: 420px;
}

.scheme.control {
    padding-bottom: 112px;
}

.benefits.different.telecom .bslider__controls {
    top: 330px;
}

.plus__faq img {
	width: 100%;
}