/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {

	.logo {
		width: 162px;
		background-size: 100%;
	}
	
	.top__link {
		font-weight: 500;
		font-size: 15.9375px;
		line-height: 22px;
	}
	
	nav.top__nav {
		max-width: 405px;
	}
	
	header.header {
		padding: 16px 80px;
	}
	
	.small__download__btn.modal__btn {
		font-weight: 500;
		font-size: 12.3958px;
		line-height: 17px;
		padding: 10px 28px;
	}

	.ts__wrapper {
	    max-width: 1010px;
	}
	
	.ts__right__phone {
		max-width: 297px;
	}
	
	.ts__right__phone img {
		width: 100%;
	}
	
	.ts__right__person {
		max-width: 108px;
		right: -50px;
	}

	img.person.ts__1 {
		max-width: 440px;
		top: -47px;
		right: 0;
	}
	
	img.person.ts__2 {
		max-width: 460px;
		top: -47px;
		right: 0;
	}
	
	img.person.ts__3 {
		max-width: 442px;
		top: -47px;
		right: 0;
	}
	
	img.person.ts__4 {
		max-width: 443px;
		top: -47px;
		right: 0;
	}
	
	.ts__right__person img {
		width: 100%;
	}
	
	.ts__item__title {
		font-weight: 700;
		font-size: 39px;
		line-height: 115.7%;
		max-width: 572px;
	}
	
	.ts__item__text {
		font-weight: 400;
		font-size: 21px;
		line-height: 27px;
		margin-top: 15px;
		max-width: 572px;
	}
	
	.slick-dots {
		margin: 46px 0 32px 0;
	}
	
	span.tsr__span {
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		margin-left: 10px;
	}
	
	.tsr__item img {
		max-height: 40px;
		width: 100%;
		max-width: 40px;
	}
	
	.tsr__item:nth-child(2) {
		margin: 0 18px;
	}
	
	.ts__rating {
		margin-bottom: 60px;
		width: 100%;
	}
	
	span.tsr__span {}
	
	.tsd__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 38px;
	}
	
	.tsd__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
	}
	
	.download__btn.modal__btn {
		padding: 7px 30px 13px 30px;
		width: 374px;
		height: 80px;
		overflow: hidden;
	}
	
	.top__screen {}
	
	.benefits {
		margin-top: 160px;
	}
	
	.section__title {
		font-weight: 500;
		font-size: 39px;
		line-height: 42px;
	}
	
	.bsi__title {
		font-weight: 700;
		font-size: 26px;
		line-height: 31px;
		margin-bottom: 22px;
	}
	
	.bsi__text {
		font-weight: 400;
		font-size: 22px;
		line-height: 28px;
	}
	
	.bsi__info {
		max-width: 500px;
	}
	
	.bsi__img {
		max-width: 230px;
	}
	
	.bsi__img img {
		width: 100%;
	}
	
	.benefits__sitem {
		margin-bottom: 103px;
	}
	
	.circle__white {
		font-weight: 400;
		font-size: 14px;
		line-height: 29px;
	}
	
	.bs__controls__circle {
		max-width: 52px;
		margin-bottom: 18px;
	}
	
	.circle__border {
		width: 52px;
		height: 52px;
	}
	
	.circle__white {
		width: 50px;
		height: 50px;
	}
	
	.bsc__arrow.prev {
		width: 35px;
		height: 35px;
		margin-right: 11.5px;
	}
	
	.bsc__arrow.next {
		font-weight: 400;
		font-size: 14px;
		line-height: 31px;
	}
	
	.app {
		padding-top: 135px;
		background: url(../img/app__bg.png) no-repeat center -65px;
	}
	
	.app__item {
		width: 317px;
		height: 332px;
		font-weight: 600;
		font-size: 23px;
		line-height: 125%;
		padding-top: 26px;
		background-size: 190px;
	}
	
	.app__item.step__1 {
		background-size: 190px;
	}
	
	.app__item.step__2 {
		background-size: 190px;
	}
	
	.app__item.step__3 {
		background-size: 190px;
	}
	
	.rating {
		margin-top: 140px;
	}
	
	.rating__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
	}
	
	.rating .section__title {
		margin-bottom: 34px;
	}
	
	.rating__items {
		margin: 29px 0;
	}
	
	.more {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}
	
	.faq {
		margin-top: 126px;
	}
	
	.faq__header {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		padding: 24px 0;
		background-size: 20px !important;
	}
	
	.faq__header {}
	
	.faq .more {
		margin-top: 48px;
	}
	
	footer.footer {
		margin-top: 65px;
	}
	
	.footer__logo {
		width: 150px;
		background-size: 100%;
	}
	
	.footer__link {
		font-weight: 400;
		font-size: 14.1667px;
		line-height: 22px;
	}
	
	.footer__nav li {
		margin-right: 44px;
	}
	
	.apple {
		max-width: 103px;
		width: 100%;
		display: block;
		margin-left: 7px;
	}
	
	.apple img {
		width: 100%;
	}
	
	.markets {
		display: flex;
	}
	
	.footer__top {
		padding-bottom: 86px;
	}
	
	.copyrights {
		font-weight: 400;
		font-size: 12.3958px;
		line-height: 19px;
		margin-right: 85px;
	}
	
	.politics {
		font-weight: 400;
		font-size: 12.3958px;
		line-height: 19px;
	}
	
	.vk {
		font-weight: 400;
		font-size: 12.3958px;
		line-height: 19px;
		background-size: 26px;
		padding: 5px 0 5px 40px;
	}
	
	.sk {
		width: 122px;
		background-size: 100%;
		margin-left: 80px;
	}

	.submenu {
		top: 71px;
	}
	
	a.sub__link {
		font-size: 15.9375px;
		line-height: 19px;
	}

}

@media only screen and (max-width : 1200px) {

	.logo {
		width: 139px;
		background-size: 100%;
	}
	
	.top__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
	}
	
	nav.top__nav {
		max-width: 348px;
	}
	
	header.header {
		padding: 13px 88px;
	}
	
	.small__download__btn.modal__btn {
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		padding: 9px 24px;
		background: linear-gradient(85.88deg, #39ABFE 13.42%, #7B33F5 86.99%);
		box-shadow: 0px 0px 7.6071px rgba(0, 0, 0, 0.1);
		border-radius: 22.8213px;
	}

	.ts__wrapper {
	    max-width: 848px;
	}
	
	.ts__right__phone {
		max-width: 297px;
	}
	
	.ts__right__phone img {
		width: 100%;
	}
	
	.ts__right__person {
		max-width: 108px;
		right: -50px;
	}

	img.person.ts__1 {
		max-width: 300px;
		top: -65px;
		right: 0;
	}
	
	img.person.ts__2 {
		max-width: 385px;
		top: -65px;
		right: 0;
	}
	
	img.person.ts__3 {
		max-width: 370px;
		top: -65px;
		right: 0;
	}
	
	img.person.ts__4 {
		max-width: 370px;
		top: -65px;
		right: 0;
	}
	
	.ts__right__person img {
		width: 100%;
	}
	
	.ts__item__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 115.7%;
		max-width: 480px;
	}
	
	.ts__item__text {
		font-weight: 400;
		font-size: 17px;
		line-height: 22px;
		margin-top: 12px;
		max-width: 480px;
	}
	
	.slick-dots {
		margin: 40px 0 27px 0;
	}
	
	span.tsr__span {
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		margin-left: 8px;
		display: block;
		width: 100%;
	}
	
	.tsr__item img {
		max-height: 32px;
		width: 100%;
		max-width: 32px;
	}
	
	.tsr__item:nth-child(2) {
		margin: 0 39px;
	}
	
	.ts__rating {
		margin-bottom: 52px;
		width: 100%;
		/* max-width: 100%; */
	}
	
	span.tsr__span {}
	
	.tsd__title {
		font-weight: 700;
		font-size: 23px;
		line-height: 31px;
	}
	
	.tsd__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
	}
	
	.download__btn.modal__btn {
		padding: 5.5px 0 0 0;
		width: 313px;
		height: 67px;
		overflow: hidden;
		background: linear-gradient(225deg, #FF8B4A 0%, #DD0050 100%);
		box-shadow: 0px 2.97359px 23.7887px rgba(0, 0, 0, 0.25);
		border-radius: 23.7887px;
	}
	
	.top__screen {}
	
	.benefits {
		margin-top: 112px;
	}
	
	.section__title {
		font-weight: 500;
		font-size: 33px;
		line-height: 100%;
	}
	
	.bsi__title {
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 18px;
	}
	
	.bsi__text {
		font-weight: 400;
		font-size: 19px;
		line-height: 23px;
	}
	
	.bsi__info {
		max-width: 415px;
	}
	
	.bsi__img {
		max-width: 193px;
	}
	
	.bsi__img img {
		width: 100%;
	}
	
	.benefits__sitem {
		margin-bottom: 87px;
	}
	
	.circle__white {
		font-weight: 400;
		font-size: 12px;
		line-height: 24px;
	}
	
	.bs__controls__circle {
		max-width: 44px;
		margin-bottom: 15px;
	}
	
	.circle__border {
		width: 44px;
		height: 44px;
		/* margin: 0; */
		/* padding: 0; */
	}
	
	.circle__white {
		width: 42px;
		height: 42px;
		/* margin: 0; */
		/* margin: 0 6px 0 0px; */
	}
	
	.bsc__arrow.prev {
		width: 30px;
		height: 30px;
		margin-right: 9.5px;
		background-size: 16px;
	}
	
	.bsc__arrow.next {
		background-size: 16px;
		font-weight: 400;
		font-size: 12px;
		line-height: 26px;
		padding: 0 30px 0 11px;
	}
	
	.app {
		padding-top: 135px;
		background: url(../img/app__bg.png) no-repeat center 168px;
		background-size: 100%;
	}
	
	.app__item {
		width: 266px;
		height: 278px;
		font-weight: 600;
		font-size: 19px;
		line-height: 125%;
		padding-top: 24px;
		background-size: 190px;
	}
	
	.app__item.step__1 {
		background-size: 172px;
	}
	
	.app__item.step__2 {
		background-size: 172px;
	}
	
	.app__item.step__3 {
		background-size: 172px;
	}
	
	.rating {
		margin-top: 140px;
	}
	
	.rating__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		max-width: 506px;
	}
	
	.rating .section__title {
		margin-bottom: 37px;
	}
	
	.rating__items {
		margin: 32px 0;
	}
	
	.more {
		font-weight: 600;
		font-size: 15px;
		line-height: 21px;
	}
	
	.faq {
		margin-top: 117px;
	}
	
	.faq__header {
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		padding: 20px 0;
		background-size: 20px !important;
	}
	
	.faq__header {}
	
	.faq .more {
		margin-top: 36px;
	}
	
	footer.footer {
		margin-top: 64px;
	}
	
	.footer__logo {
		width: 127px;
		background-size: 100%;
	}
	
	.footer__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 19px;
	}
	
	.footer__nav li {
		margin-right: 37px;
	}
	
	.apple {
		max-width: 86px;
		width: 100%;
		display: block;
		margin-left: 6px;
	}
	
	.apple img {
		width: 100%;
	}
	
	.markets {
		display: flex;
	}
	
	.footer__top {
		padding-bottom: 86px;
	}
	
	.copyrights {
		font-weight: 400;
		font-size: 10.4px;
		line-height: 16px;
		margin-right: 85px;
	}
	
	.politics {
		font-weight: 400;
		font-size: 10.4px;
		line-height: 16px;
	}
	
	.vk {
		font-weight: 400;
		font-size: 10.4px;
		line-height: 16px;
		background-size: 22px;
		padding: 5px 0 5px 44px;
	}
	
	.sk {
		width: 103px;
		background-size: 100%;
		margin-left: 67px;
	}

	.header__wrapper {
	    max-width: 848px;
	}
	
	.slick-dots li button {
	    width: 8.5px;
	    height: 8.5px;
	}
	
	.benefits__wrapper {
	    max-width: 848px;
	}
	
	.rating__items img {
	    max-width: 267px;
	}
	
	.rating__items img:nth-child(2) {
	    margin: 0 23px;
	}
	
	.faq__wrapper {
	    max-width: 848px;
	}
	
	.plus__faq {
	    max-width: 16px;
	}
	
	.faq__body {}
	
	.faq__body {
	    font-size: 14px;
	    line-height: 1.2;
	}
	
	.footer__wrapper {
	    max-width: 848px;
	}
	
	a.f__sublink {
	    font-size: 12px;
	    line-height: 16px;
	}

	a.sub__link {
		font-size: 14px;
		line-height: 19px;
	}
	
	.submenu {
		padding: 24px 20px 16px 20px;
		top: 65px;
	}

	.qr__title {
		font-size: 22px;
	}
	
	.qr__markets a {
		max-width: 110px;
	}
	
	.qr__markets a img {
		width: 100%;
	}
	
	.qr__code {
		max-width: 240px;
	}
	
	.qr__code img {
		width: 100%;
	}
	
	.qr__close {
		height: 19px;
		width: 19px;
		background-size: 100%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header.header {
		padding: 21px 36px;
		box-shadow: 0px 7.03644px 9.85101px rgba(0, 0, 0, 0.08);
	}
	
	.logo {
		width: 276px;
		height: 57px;
	}
	
	nav.top__nav {
		display: none;
	}
	
	.small__download__btn.modal__btn {
		display: none;
	}

	.ts__rating {
		display: none;
	}
	
	.top__screen {
		padding: 174px 36px 0 36px;
		height: 903px;
		background: url(../img/ts__bg.png) no-repeat left bottom;
		background-size: 180%;
	}
	
	.ts__item__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 115.7%;
		max-width: 515px;
	}
	
	.ts__item__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		margin-top: 21px;
	}
	
	img.person.ts__1 {
		/* position: inherit; */
		left: 50%;
		transform: translateX(-50%);
		top: 210px;
		max-width: 360px;
	}

	img.person.ts__2 {
		max-width: 450px;
		left: 45%;
		transform: translateX(-50%);
		top: 210px;
	}

	img.person.ts__3 {
		max-width: 430px;
		left: 46%;
		transform: translateX(-50%);
		top: 210px;
	}

	img.person.ts__4 {
		max-width: 430px;
		left: 46%;
		transform: translateX(-50%);
		top: 210px;
	}

	.download__btn.modal__btn {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		/* top: 210px; */
	}

	.top__screen .download__btn.modal__btn {
		top: 555px;
		width: 334px;
		height: 72px;
	}
	
	.ts__wrapper {
		align-items: flex-start;
	}
	
	.tsd__title {
		font-weight: 700;
		font-size: 23.9897px;
		line-height: 33px;
	}
	
	.tsd__text {
		font-weight: 400;
		font-size: 16.4929px;
		line-height: 22px;
	}

	.slick-dots {
		margin-top: 32px;
	}
	
	.slick-dots li button {
		width: 13px;
		height: 13px;
		margin-right: 8.2px;
	}
	
	.section__title {
		font-weight: 500;
		font-size: 36px;
		line-height: 49px;
		margin-bottom: 42px;
	}
	
	.benefits {
		margin-top: 139px;
	}
	
	.benefits__sitem {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 114px;
	}
	
	.bsi__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 17px;
		text-align: center;
	}
	
	.bsi__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 54px;
	}

	.bs__controls__circle {
		display: none;
	}
	
	.bsi__title {
		justify-content: center;
	}
	
	.bsi__img {
		max-width: 270px;
	}
	
	.benefits__slider .bsi__info {
		margin: 0;
		height: 240px;
	}
	
	.bsc__arrow.prev {
		width: 56px;
		height: 56px;
		background-size: 28px;
		border-radius: 17px;
	}
	
	.bsc__arrow.next {
		width: 56px;
		height: 56px;
		background-size: 28px;
		border-radius: 17px;
		padding: 0;
		background: url(../img/bs__right.svg) no-repeat center center;
		background-size: 28px;
	}
	
	.bsc__arrow.next:hover {
		color: #fff;
		background: url(../img/bs__right__light.svg) no-repeat center center;
		background-color: #0DA7E2;
		box-shadow: 1px 1px 10px #0000004d;
		background-size: 28px;
	}
	
	.bsc__arrow.prev:hover {
		color: #fff;
		background: url(../img/bs__left__light.svg) no-repeat center center;
		background-color: #0DA7E2;
		box-shadow: 1px 1px 10px #0000004d;
		background-size: 28px;
	}
	
	.bsc__arrow.next .span__more {
		display: none;
	}
	
	.bslider__controls {
		width: 464px;
		display: flex;
		justify-content: center;
		left: 50%;
		bottom: 250px;
		transform: translateX(-50%);
	}
	
	.bs__controls__arrows {
		width: 100%;
		justify-content: space-between;
	}

	.app .section__title {
		max-width: 548px;
		margin-bottom: 35px;
	}
	
	.app__items {
		flex-direction: column;
		align-items: center;
	}
	
	.app__item {
		width: 340px;
		height: 356px;
		/* background-size: 223px; */
		padding-top: 25px;
		font-weight: 600;
		font-size: 21px;
		line-height: 125%;
	}
	
	.app__item.step__1 {background-size: 223px;}
	
	.app__item.step__2 {
		background-size: 223px;
		margin: 27px 0;
	}
	
	.app__item.step__3 {
		background-size: 223px;
	}
	
	.app .download__btn.modal__btn {
		position: inherit;
		transform: translate(0px, 0px);
	}
	
	.app {
		padding-top: 105px;
		background: url(../img/app__bg.png) no-repeat center 98%;
		background-size: 100%;
	}
	
	.rating__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		/* margin: 28px 0; */
	}
	
	.rating__items {
		margin: 28px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
	}

	.rating__items__wrapper {
	    max-width: 435px;
	    display: block;
	    /* flex-direction: column; */
	    /* align-items: center; */
	}

	.rating .slick-dots {
	    display: flex;
	    justify-content: center;
	}

	.rating .slick-dots li.slick-active button {
		background: #0DA7E2;border: #0DA7E2;
	}
	
	.rating .slick-dots li button {
		width: 13px;
		height: 13px;
		border: 1.40729px solid rgba(0, 0, 0, 0.5);
	}
	
	.rating__items img {
		max-width: 435px;
		margin: 0;
	}

	.ri__wrapper {
	    display: flex !important;
	    justify-content: center;
	}
	
	.more {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
		margin-top: 29px;
	}
	
	.faq .section__title {
		/* font-weight: 500; */
		/* font-size: 36px; */
		/* line-height: 36px; */
		margin-bottom: 31px;
	}
	
	.faq__list {
		max-width: 619px;
	}
	
	.faqh__value {
		font-weight: 600;
		font-size: 21.1093px;
		line-height: 29px;
		max-width: 520px;
	}
	
	.faq__header {
		padding: 16px 0;
	}
	
	.plus__faq {
		max-width: 20px;
		width: 100%;
	}
	
	footer.footer {
		margin-top: 72px;
	}
	
	.footer__wrapper {
		padding: 75px 60px;
	}
	
	.footer__top {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.footer__logo {
		width: 280px;
		height: 60px;
		margin-bottom: 50px;
	}
	
	.footer__nav ul {
		/* font-weight: 400; */
		/* font-size: 23px; */
		/* line-height: 17px; */
		display: flex;
		flex-direction: column;
	}
	
	.footer__link {
		font-weight: 400;
		font-size: 23px;
		line-height: 17px;
	}
	
	.footer__nav li {
		margin: 0 0 41px 0;
	}
	
	.markets {
		display: none;
	}
	
	.footer__bottom {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	
	.ft__right {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.sk {
		margin: 0;
		width: 220px;
		height: 67px;
	}
	
	.vk {
		background-size: 66px;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		padding: 10px 0 10px 85px;
		max-width: 200px;
		margin-bottom: 20px;
	}
	
	.copyrights {
		font-weight: 400;
		font-size: 20px;
		line-height: 15px;
		margin-bottom: 20px;
	}
	
	.politics {
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
	}
	
	.ft__left {
		flex-direction: column;
		margin-top: 50px;
	}
	
	a.f__sublink {
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
	}
	
	.footer__nav .footer__submenu li {margin: 0 0 8px 0;}
	
	.footer__submenu {
		max-width: 100%;
		margin-top: 20px;
	}

	.burger__line {
		height: 2px;
		width: 42px;
		background: #000;
		transition: all .5s ease;
	}
	
	.burger__control {
		display: flex;
		flex-direction: column;
		width: 42px;
		height: 22px;
		justify-content: space-between;
		position: relative;
		cursor: pointer;
	}

	.burger__control.active .burger__line:nth-child(2) {
		display: none;
	}

	.burger__control.active .burger__line:nth-child(1) {
		transform: rotate(45deg);
		margin-top: 11px;
		position: absolute;
	}

	.burger__control.active .burger__line:nth-child(3) {
		transform: rotate(-45deg);
		margin-top: 11px;
		position: absolute;
	}

	.mobile__nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: #fff;
		z-index: 9;
		transition: all .5s ease;
		transform: translateX(-100%);
	}
	
	.mobile__nav__wrapper {
		display: flex;
		flex-direction: column;
	}
	
	ul.mn__ul {
		display: flex;
		flex-direction: column;
		padding: 0;
		align-items: center;
	}
	
	ul.mn__sub__menu {
		display: flex;
		flex-direction: column;
		padding: 10px 0 0 0;
	}
	
	a.mn__link {
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		color: #000;
		display: flex;
		align-items: center;
		/* padding: 0 20px 0 0; */
	}

	.mn__li .mn__submenu {
		display: none;
		flex-direction: column;
	}

	.mn__li.active .mn__submenu {
		display: flex;
	}

	.mn__li.active .nav__arrow {
		transform: rotate(180deg);
	}
	
	li.mn__li {
		list-style: none;
		margin-bottom: 30px;
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.mn__link .nav__arrow {
		margin-left: 10px;
		width: 20px;
		height: 20px;
		position: absolute;
		right: -25px;
		background-size: 15px;
	}

	.mn__sub__menu li {
	    list-style: none;
	    margin-top: 8px;
	}
	
	a.mn__sub__link {
	    color: #000;
	    /* margin-top: 8px; */
	}
	
	a.mn__link {
	    position: relative;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.logo {
		width: 196px;
		height: 40px;
	}
	
	.burger__control {
		height: 16px;
		width: 30px;
	}
	
	.burger__line {
		width: 30px;
	}
	
	header.header {
		padding: 15px 19px;
	}
	
	.ts__item__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 115.7%;
	}
	
	.top__screen {
		padding: 110px 19px 0 19px;
		height: 650px;
		background-size: 200%;
	}
	
	.ts__item__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 14px;
		margin-top: 16px;
	}
	
	.slick-dots li button {
		width: 9px;
		height: 9px;
		margin-right: 5px;
	}
	
	.slick-dots {
		margin-top: 22px;
	}
	
	.top__screen .download__btn.modal__btn {
		width: 238px;
		height: 52px;
		box-shadow: 0px 2.01246px 16.0997px rgba(0, 0, 0, 0.25);
		border-radius: 16.0997px;
		top: 420px;
	}
	
	.tsd__title {
		font-weight: 700;
		font-size: 17.0467px;
		line-height: 23px;
	}
	
	.tsd__text {
		font-weight: 400;
		font-size: 11.7196px;
		line-height: 16px;
	}
	
	img.person.ts__1 {
		max-width: 260px;
		left: 50%;
		transform: translateX(-50%);
		top: 170px;
	}
	
	img.person.ts__2 {
		max-width: 340px;
		left: 51%;
		transform: translateX(-50%);
		top: 159px;
	}
	
	img.person.ts__3 {
		max-width: 330px;
		left: 53%;
		transform: translateX(-50%);
		top: 155px;
	}
	
	img.person.ts__4 {
		max-width: 330px;
		left: 53%;
		transform: translateX(-50%);
		top: 155px;
	}
	
	.section__title {
		font-weight: 500;
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 24px;
	}
	
	.benefits {
		margin-top: 40px;
	}
	
	.bsi__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 12px;
	}
	
	.benefits__static {
		/* max-width: 265px; */
	}
	
	.benefits__wrapper {
		max-width: 265px;
	}
	
	.bsi__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 22px;
	}
	
	.bsi__img {
		max-width: 191px;
	}
	
	.benefits__sitem {
		margin-bottom: 60px;
	}
	
	.bsi__info {
		/* height: 230px; */
	}
	
	.benefits__slider .bsi__info {
		height: 225px;
	}
	
	.bsc__arrow.prev,
	.bsc__arrow.prev:hover {
		width: 40px;
		height: 40px;
		background-size: 20px;
		border-radius: 12px;
	}
	
	.bsc__arrow.next,
	.bsc__arrow.next:hover {
		width: 40px;
		height: 40px;
		background-size: 20px;
		border-radius: 12px;
	}
	
	.bslider__controls {
		width: 320px;
		bottom: 180px;
	}
	
	.app {
		padding-top: 40px;
		background: url(../img/app__bg.png) no-repeat center 96%;
		background-size: 215%;
	}
	
	.app .section__title {
		margin-bottom: 22px;
	}
	
	.app__item {
		width: 242px;
		height: 253px;
		padding-top: 18px;
		font-weight: 600;
		font-size: 15px;
		line-height: 125%;
	}
	
	.app__item.step__1,
	.app__item.step__2,
	.app__item.step__3 {
		background-size: 158px;
	}
	
	.app__item.step__2 {
		margin: 19px 0;
	}
	
	.app .download__btn.modal__btn {
		width: 223px;
		height: 53px;
		box-shadow: 0px 1.88889px 15.1111px rgba(0, 0, 0, 0.25);
		border-radius: 15.1111px;
	}
	
	.rating {
		/* max-width: 320px; */
		margin-top: 40px;
	}
	
	h2.section__title {}
	
	h2.section__title {}
	
	.rating .section__title {
		margin-bottom: 22px;
	}
	
	.rating__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}
	
	.rating__wrapper {
		max-width: 320px;
	}
	
	.rating .slick-dots li button {
		width: 9px;
		height: 9px;
	}
	
	.rating .slick-dots {
		margin: 8px 0 0px 0;
	}
	
	.more {
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		margin-top: 22px;
	}
	
	.faq__wrapper {
		max-width: 338px;
	}
	
	.faq {
		margin-top: 40px;
	}
	
	.faq .section__title {
		margin-bottom: 22px;
	}
	
	.faqh__value {
		font-weight: 600;
		font-size: 15px;
		max-width: 90%;
		line-height: 20px;
	}
	
	.faq__header {
		padding: 11px 0;
	}
	
	.plus__faq {
		max-width: 14px;
	}
	
	.faq .more {
		margin-top: 22px;
	}
	
	footer.footer {
		margin-top: 40px;
	}
	
	.footer__wrapper {
		padding: 54px 19px;
	}
	
	.footer__logo {
		width: 192px;
		height: 41px;
		margin-bottom: 36px;
	}
	
	.footer__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 12px;
	}
	
	.footer__nav li {
		margin-bottom: 29px;
	}
	
	a.f__sublink {
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}
	
	.vk {
		background-size: 47px;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		max-width: 100px;
		padding: 5px 0 5px 62px;
		margin-bottom: 16px;
	}
	
	.sk {
		width: 156px;
		height: 47px;
	}
	
	.copyrights {
		font-weight: 400;
		font-size: 14px;
		line-height: 10px;
		margin-bottom: 14px;
	}
	
	.politics {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
	
	.ft__left {
		margin-top: 36px;
		align-items: flex-start;
	}

	a.mn__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
	}
	
	a.mn__sub__link {
		font-size: 14px;
	}
	
	.mn__link .nav__arrow {
		width: 16px;
		height: 16px;
		background-size: 12px;
	}
	
	.download__btn::after, .download__btn::before {
		width: 240px;
		height: 53px;
		border-radius: 15px;
	}
	
	.qr__wrapper {
		flex-direction: column;
		max-width: 320px;
		padding: 54px 36px 36px 36px;
	}
	
	.qr__info {
		margin-left: 0;
		margin-top: 20px;
		font-size: 14px;
	}
	
	.qr__title {
		font-size: 14px;
		margin-bottom: 20px;
	}
	
	.qr__text {}
	
	.qr__markets {
		flex-direction: column;
		align-items: center;
	}
	
	.qr__markets a {
		max-width: 100%;
		/* margin-bottom: 5px; */
	}
	
	.qr__markets a:nth-child(2) {
		margin: 5px 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}